.App {
  text-align: center;
}

.main-wrapper {
  display: flex;
  background-color: red;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #222;
  height: 45px;
  padding: 25px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 6px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  background: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-map {
  background-color: grey;

}

.App-location-list {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}


/*location list and search*/

.location-list {
  list-style-type: none;
  width: 100%;
  background-color: blue;
  margin: 0;
}

.location-list li {
  display: flex;
  list-style-type: none;
  background-color: white;
  width: 100%;
  text-transform: uppercase;
  padding: 1em;
  text-align: left;
  border-bottom: black solid 4px;

}

.location-list li:hover {
  background-color: yellow;
  cursor: pointer;
}


.location-info-none {
  display: none;
}



.list {
  display: flex;
  margin-left: -40px;
}

.search-locations-bar input {
  padding: 15px 10px;
  font-size: 0.8em;
  border:none;
  outline: none;
}

.search-locations-bar {
  display: flex;
  width: 100%;
  border-bottom: black solid 4px;

}

.search-locations-bar  {
  border-top: black solid 6px;

}

/*icons*/


.icon-search {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 52px;
  font-size: 20px;
  background-color: blue;
}

.icon-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 52px;
  background-color: yellow;
  border-bottom: black solid 4px;
}


.icon-frown {
  font-size: 3em;
  color: white;
}

/*infowindow*/

.location-info {

  position: absolute;

  top: calc(100vh/6);
  left: calc(100vw/2);
  width: 250px;
  max-height:207px;
  z-index: 9999;
  background-color: red;
    border-top: black solid 4px;
    border-left: black solid 4px;


}

button {

  border-right: none;
  border-bottom: none;
  background-color: white;
  margin-left: 217px;
  cursor:pointer;
  border-left: black solid 4px;
  border-right: black solid 4px;
  border-top: black solid 2px;
  padding: 5px 8px;
}



.info-heading{
  font-size: 12px;
  background-color:white;
  border-right: black solid 4px;
  color:black;
  border-top: black solid 4px;
  border-bottom: black solid 2px;
  text-align: left;
  padding: 4px;
  text-transform: uppercase;

}



.info-p{
  font-size: 8px;
  background-color:blue;
  color:white;
  font-weight: 400;
  margin: 0;
  border-right: black solid 4px;
  border-top: black solid 2px;
  border-bottom: black solid 4px;
  text-align: left;
  padding: 4px;


}

.info-add{
  width:50%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 line-height: 5px;
  background-color: white;
  border-right: black solid 4px;
  border-left: black solid 4px;




}


.info-img{
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.info-add-p{
 line-height: 12px;
  font-size: 0.5em;
  color:black;
  text-transform: uppercase;
}


.flickerPhoto {

  max-height:120px;
  max-width:120px;
border-right: black solid 4px;
border-bottom: black solid 2px;
    display: flex;


}
.pic-add-wrapper{
  display:flex;
  background-color: yellow;
  border-bottom: black solid 4px

}




/*footer*/
.footer {
  position: fixed;
  bottom: 0;
  font-family: 'Libre Baskerville', serif;
  font-size: 0.8em;
  padding-left: 10px;
  padding-top: 1px;
  width: 100%;
  color: white;
  background-color: black;
}
