.App {
  text-align: center;
}

.main-wrapper {
  display: flex;
  background-color: red;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #222;
  height: 45px;
  padding: 25px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 6px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  background: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.mapContainer {
  flex: 5;
}

.locationList {
  flex: 1;
}

.App-location-list {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*location list and search*/

.location-list {
  list-style-type: none;
  width: 100%;
  background-color: blue;
  margin: 0;
}

.location-list li {
  display: flex;
  list-style-type: none;
  background-color: white;
  width: 100%;
  text-transform: uppercase;
  padding: 1em;
  text-align: left;
  border-bottom: black solid 4px;
}

.location-list li:hover {
  background-color: yellow;
  cursor: pointer;
}

.location-info-none {
  display: none;
}

.list {
  display: flex;
  margin-left: -40px;
}

.search-locations-bar input {
  padding: 15px 10px;
  font-size: 0.8em;
  border: none;
  outline: none;
}

.search-locations-bar {
  display: flex;
  width: 100%;
  border-bottom: black solid 4px;
}

.search-locations-bar {
  border-top: black solid 6px;
}

/*icons*/

.icon-search {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 52px;
  font-size: 20px;
  background-color: blue;
}

.icon-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 52px;
  background-color: yellow;
  border-bottom: black solid 4px;
}

.icon-frown {
  font-size: 6em;
  margin-bottom: 20px;
  color: white;
}

.icon-hamb {
  font-size: 1.8em;
  color: white;
}

/*infowindow*/

.location-info {
  position: absolute;
  top: 10vh;
  left: calc(100vw/2);
  width: 250px;
  height: inherit;
  z-index: 9999;
  background-color: red;
  border-top: black solid 4px;
  border-left: black solid 4px;
  border-right: black solid 4px;
}

.first-bar {
  display: flex;
  justify-content: flex-end;
}

button {
  display: flex;
  border-right: none;
  border-bottom: none;
  background-color: white;
  cursor: pointer;
  border-left: black solid 4px;
  border-top: black solid 2px;
  padding: 5px 8px;
}

.info-heading {
  font-size: 12px;
  background-color: white;
  color: black;
  border-top: black solid 4px;
  border-bottom: black solid 2px;
  text-align: left;
  padding: 6px;
  text-transform: uppercase;
}

.info-p {
  padding: 6px;
  font-size: 0.6em;
  background-color: white;
  color: black;
  font-weight: 400;
  margin: 0;
  border-top: black solid 2px;
  border-bottom: black solid 4px;
  text-align: left;
}

.info-img {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flickerPhoto {
  max-width: 100%;
  display: flex;
  border-bottom: black solid 4px;
}

.pic-add-wrapper {
  display: flex;
  background-color: black;
}

/*footer*/

.footer {
  position: fixed;
  bottom: 0;
  font-size: 0.8em;
  padding-left: 10px;
  padding-top: 1px;
  width: 100%;
  color: white;
  background-color: black;
}

/*media queries*/

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
}

@media only screen and (max-width: 644px) {
  .locationList {
    display: none;
    border-bottom: none;
  }
  .locationList-open {
    display: block;
    position: absolute;
    border: black solid 4px;
    border-bottom: black solid 1px;
    border-left: black solid 6px;
    z-index: 9999;
    width: 260px;
  }
  .main-wrapper {
    display: block;
  }
  .mapContainer {
    display: block;
  }
  .location-info {
    left: 100px;
  }
  .App-title {
    font-size: 0.8em;

  }

  .App-header{
    justify-content: space-between;
  }


  .hamburger-menu {
    display: flex;
    flex-direction: row;

    left: 20px;
    color: white;

  }
  .location-info {
    position: absolute;
    top: 100px;
    left: 300px;
    width:40%;
  }
  .info-p {
    font-size: 0.7em;
    text-align: right;
  }
  .info-heading {
    font-size: 0.9em;
  }
  /*location list and search*/
  .icon-search {
    font-size: 1em;
  }
  .icon-arrow {
    font-size: 0.8em;
  }
  .location-list li {
    width: 100%;
    font-size: 0.6em;
    padding: 0.8em;
    text-align: left;
    border-bottom: black solid 4px;
  }
  .search-locations-bar input {
    padding: 10px;
    font-size: 0.6em;
    width: 100%;
  }
  .footer {
    font-size: 0.6em;
  }
}
